<div style="width:100%">
    <div class="paddRow aboutRow">
        <div class="wrap">
            <div class="head">Contact Us</div>
            <p> Please Fill out this form to get in contact with our Office </p>
        </div>
    </div>
<div style="background-color:#f5f5f5">
<div class="wrap about">
    <div class="wrap">
      <div class "flLeft">
        <p> <b>Address:</b><br>
1299 Farnam, St. Suite 300, Rm. 335, Omaha, NE 68102<br><br>
<b>Phone Number:</b><br> 402.401.2818 <br><br>
<p>
      </div>
        <form ng-submit="save()" class="contactForm" name="form">
            <input class="input" required="required" type="text" name ="Name" value ="" placeholder="your name" ng-model="message.nombre" /> <br>
            <input class="input email" required="required" type="email" name="email" value="" placeholder="your email" ng-model="message.email" /><br>
            <input class="input phone" required="required" type="text" name="phoneNumber" value="" placeholder="your phone number" ng-model="message.phone" /> <br>
            <input class="input" required="required" type="text" name="heading" value="" placeholder="type of inquiry" ng-model="message.title" /> <br>
            <textarea class="textarea" rows="5" required="required" placeholder="your message" ng-model="message.text" ></textarea>
            <input class="checkbox" type="checkbox" name="confirmMessage" value="confirm"/>By submitting information through this web-portal, I understand that a client-lawyer relationship has not been formed between me and the Law Office of Dai-Klabunde, LLC. I understand that the information I submit may not be kept confidential, no legal advice has been given, and that Dai-Klabunde, LLC is not prevented from representing any adverse party to my case. <br>
            <button class="btn green">send message</button>
        </form>
        <!-- contact us form response messages -->
        <div ng-show="process" style="text-align:center">
            <img class="loader" src="images/loader.png" />
        </div>
        <div ng-show="success"><p>Your message has been sent, thank you.</p></div>
    </div>
</div>
